__pycache__/
*.pyc
logs/

downloads/
.playwright/

# Ignore compressed archives by default
*.zip
*.7z

# But allow the final compressed database submission file
!db/23084716-sq26-classification.db.zip

# Ignore working and backup databases
db/metadata.db
db/metadata_before_*.db

# Ignore the large uncompressed final database if you are pushing the ZIP instead
db/23084716-sq26-classification.db

# SQLite temporary files
*.db-journal
*.db-wal
*.db-shm
